@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}

body {
  /* height: 100vh; */
  display: flex;
  float: right;
  justify-content: right;
  align-items: center;
  padding: 10px;
  padding-right: 120px;
  background: url(../img/wall13.jpg);
  background-size: fit;
  background-position: center;
  color: #5fa9ff;
  background-repeat: no-repeat;
  padding-top: 150px;

}
/* header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #000000;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);
  border-radius: 54px;
  background: linear-gradient(145deg, #01132c, #011025);
  box-shadow: 14px 14px 28px #000710,
    -14px -14px 28px #021d42;
} */
.container {
  max-width: 700px !important;
  width: 100% !important;
  align-self: right;
  background-color: transparent;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);
  border-radius: 54px;
  background: linear-gradient(145deg, #01132c, #011025);
  box-shadow: 14px 14px 28px #000710,
    -14px -14px 28px #021d42;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #0400f0);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
button{
  align-items: center;
  padding: 20px 60px;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff !important;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 30%;
}
form{
  padding: 25px 30px;
  align-content: center;
}

button:hover{
    background: #5fa9ff;
    color: #ffffff !important;
    box-shadow: 0 0 5px #5fa9ff,
                0 0 25px #5fa9ff,
                0 0 50px #5fa9ff,
                0 0 100px #5fa9ff;
/*      -webkit-box-reflect:below 1px linear-gradient(transparent, #0005); */
}
/* button {
  align-items: center;
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

button span {
  position: relative;
  z-index: 1;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
} */


@media(max-width: 600px) {
  .container {
    max-width: 100%;
  }
  body{
    padding-right: 10px;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  button{
    margin-left: 25%;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}